TokenServer/WebContent/wsdl/TokenService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.tokenserver.arste.pro" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.tokenserver.arste.pro" xmlns:intf="http://services.tokenserver.arste.pro" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.tokenserver.arste.pro" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="generateToken">
    <complexType>
     <sequence>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="ubn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateTokenResponse">
    <complexType>
     <sequence>
      <element name="generateTokenReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="generateTokenResponse">

      <wsdl:part element="impl:generateTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateTokenRequest">

      <wsdl:part element="impl:generateToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TokenService">

      <wsdl:operation name="generateToken">

         <wsdl:input message="impl:generateTokenRequest" name="generateTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateTokenResponse" name="generateTokenResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TokenServiceSoapBinding" type="impl:TokenService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="generateToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TokenServiceService">

      <wsdl:port binding="impl:TokenServiceSoapBinding" name="TokenService">

         <wsdlsoap:address location="http://localhost:8080/TokenServer/services/TokenService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
