StandardUser/TokenService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.tokenserver.artse.pro" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.tokenserver.artse.pro" xmlns:intf="http://services.tokenserver.artse.pro" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.tokenserver.artse.pro" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="search">
    <complexType>
     <sequence>
      <element name="token" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchResponse">
    <complexType>
     <sequence>
      <element name="searchReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAll">
    <complexType/>
   </element>
   <element name="getAllResponse">
    <complexType>
     <sequence>
      <element name="getAllReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isValidToken">
    <complexType>
     <sequence>
      <element name="token" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isValidTokenResponse">
    <complexType>
     <sequence>
      <element name="isValidTokenReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateToken">
    <complexType>
     <sequence>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="ubn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateTokenResponse">
    <complexType>
     <sequence>
      <element name="generateTokenReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllRequest">

      <wsdl:part element="impl:getAll" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isValidTokenRequest">

      <wsdl:part element="impl:isValidToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateTokenResponse">

      <wsdl:part element="impl:generateTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateTokenRequest">

      <wsdl:part element="impl:generateToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isValidTokenResponse">

      <wsdl:part element="impl:isValidTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchResponse">

      <wsdl:part element="impl:searchResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllResponse">

      <wsdl:part element="impl:getAllResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchRequest">

      <wsdl:part element="impl:search" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TokenService">

      <wsdl:operation name="search">

         <wsdl:input message="impl:searchRequest" name="searchRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchResponse" name="searchResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAll">

         <wsdl:input message="impl:getAllRequest" name="getAllRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllResponse" name="getAllResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isValidToken">

         <wsdl:input message="impl:isValidTokenRequest" name="isValidTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:isValidTokenResponse" name="isValidTokenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateToken">

         <wsdl:input message="impl:generateTokenRequest" name="generateTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateTokenResponse" name="generateTokenResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TokenServiceSoapBinding" type="impl:TokenService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="search">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAll">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isValidToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isValidTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isValidTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TokenServiceService">

      <wsdl:port binding="impl:TokenServiceSoapBinding" name="TokenService">

         <wsdlsoap:address location="http://localhost:8080/TokenServer/services/TokenService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
